*.bak
.idea
*.iml
.local
/build
/addon/web-ext-artifacts
/addon/.web-extension-id
node_modules
/package.json
/package-lock.json
venv
backend/flask.bat
__pycache__
backend/build/
backend/dist/
backend/*.spec
backend/*.exe
backend/*.zip
backend/*.tgz
/*.zip