body {
    width: 780px;
    height: 560px;
    margin: 0;
    background-color: black;
    font-size: 12pt;
    font-family: Calibri, Helvetica, Arial;
    font-weight: normal;
}

#shell-window {
    position: fixed;
    left: 0px;
    top: 0px;
    visibility: visible;
    width: 780px;
    height: 560px;
    border: 0px;
    padding: 0px;
    z-index: 99999;
    background: #2d2d2d;
    overflow: hidden;
}

#shell-input-panel {
    border: 0;
    margin: 0;
    width: 780px;
    height: 55px;
}

#shell-input {
    border: 0px; 
    /*border-bottom: 1px outset gray;*/
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-left: 4pt;
    padding-right: 4pt;
    background: #d3d3d3;
    color: #333;
    font-size: 18pt;
    -webkit-appearance: none;
    outline: none;

    font-family: Geneva, Tahoma, Verdana;
    text-shadow: #888 0px 1px .2px;
}

#shell-input:focus {
	color:black;
}        

#shell-command-tip, #shell-command-preview, #shell-results-panel {
    border: 0;
    display: block;
}

#shell-bottom-panel {
    height: 100%;
}
#shell-command-panel {
    width: 540px; 
    height: 100%;
    vertical-align: top;
}

#shell-command-tip {
    color: #ddd;
    font-style: italic;
    width: 540px; 
    height: 0px;
}

#shell-command-preview {
    color: #ddd;
    /* width: 540px;  */
    width: 100%; 
    height: 505px;
    position: relative;
    /* overflow-y: auto; */
    /* zoom overflow dirty fix */
    overflow-y: hidden;
    padding-top: 5px;
}

#shell-command-preview a {
    color:white;
    text-decoration: bold;
    font-size: 11.5pt;
}

#shell-command-preview #shell-preview-div {
    --zoom: 1.0;
    transform: scale(var(--zoom)); transform-origin: 0px 0px;
    -moz-transform: scale(var(--zoom)); -moz-transform-origin: 0 0;
    -webkit-transform: scale(var(--zoom)); -webkit-transform-origin: 0 0;
    width: calc(100% / var(--zoom)) !important;
    height: calc(100% / var(--zoom)) !important;
    height: 100%;
    overflow: hidden; 
    position: relative; border:0px;
}
#shell-preview-div #shell-preview-frm {
    --scrollX: 0px;
    --scrollY: 0px;
    width: calc(100%  + var(--scrollX)) !important; 
    height: calc(100% + var(--scrollY)) !important;
    background-color: transparent;
    border: 0px;
}

#shell-suggestion-panel {
    vertical-align: top;
    width: 100%;
    height: 505px;
    margin: 0;
    clear: both;
    text-align: left;
    color: white;
}
/* 
#shell-suggestion-panel.result {
    padding-left: 4pt;
    padding-right: 4pt;
}
 */
#shell-suggestion-panel ul {
	padding:0; 
	margin:0;
    width: 240px; 
    height: 100%;
    background: linear-gradient(90deg, #3b3b3b 90%, transparent 10%, rgba(0,0,0,0) 0), #2d2d2d;
    background-size: 257px auto;
}

#shell-suggestion-panel li {
	color: black; 
	list-style: none; 
	margin: 0; 
    padding-top: 2pt;
	vertical-align: middle;
	padding-left: 6px;
	font-size: 12pt;
	/*height: 22pt;*/
    width: 225px;
	background-color: #a9a9a9;
	background-repeat: repeat;
    cursor: pointer;
}

#shell-suggestion-panel li img {
    height: 16px;
    width: 16px;
    margin: 4px;
}

#shell-suggestion-panel li.selected {
	background-color: #d3d3d3; 
    /* background: linear-gradient(#efefef, #b0b0b0); */
    position:relative;
    width: 225px;
}

#shell-suggestion-panel .more-commands {
    width: 225px;
    line-height: 10px;
    text-align: center;
}

#shell-suggestion-panel li.selected::after {
    position:absolute;
    top:0%;
    left:100%;
    content:"";
    margin-left:0px;
    width: 0; 
    height: 0; 
    border-top: 12pt solid transparent;
    border-bottom: 12pt solid transparent;
    border-left: 6pt solid #d3d3d3;
}

#shell-help-wrapper, .description, .help, .error {
    padding-left: 5px;
    padding-right: 5px;
}

.error {
    color: #f94c52;
}

.shell-help-heading {
    padding-bottom: 10px;
    font-weight: bold;
}

.object, .argument {
    font-weight: bold;
}

.needarg {
    font-style: oblique;
    font-size: 80%;
    color: #999999;
}
.needarg:before {
    content: "(";
}
.needarg:after {
    content: ")";
}

kbd {
    font: inherit;
}

.keys {
    color: #a7a7a7;
}