@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome.woff2') format('woff2');
    font-weight: normal;
    font-style: normal
}

:root {
    --nyaa-link-color: #80ccff;
    --nyaa-icon-color: white;
}

.u-link-magnet:before {
    font-family: FontAwesome;
    content: "\f076";
}

.u-link-download:before {
    text-decoration: none;
    font-weight: normal;
    font-family: FontAwesome;
    content: "\f0ed"
}

.text-center {
    text-align: center;
}

.category-image {
    display: inline-block;
    width: 20px;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.success {
    color: #82e859;
}

.danger {
    color: #ec5f5f;
}