:root {
    --shell-width: 800px;
    --shell-height: 565px;
    --shell-input-height: 55px;
    --shell-suggestion-width: 260px;
    --shell-font-color: #ddd;
    --shell-background-color: #2d2d2d;
}

/** {*/
/*    outline: 1px solid #f00 !important;*/
/*}*/

html, body {
    width: var(--shell-width);
    height: var(--shell-height);
}

body {
    width: var(--shell-width);
    height: var(--shell-height);
    min-width: var(--shell-width);
    min-height: var(--shell-height);
    background-color: black;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#shell-window {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--shell-width);
    height: var(--shell-height);
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 99999;
    background: var(--shell-background-color);
    overflow: hidden;
    display: grid;
    grid-template-columns: var(--shell-suggestion-width) auto;
    grid-template-rows: var(--shell-input-height) auto;
}

#shell-input {
    border: 0;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 4pt;
    background: #d3d3d3;
    color: #333;
    font-size: 18pt;
    -webkit-appearance: none;
    outline: none;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    text-shadow: #888 0 1px 0.2px;
}

#shell-input:focus {
	color: black;
}

#shell-command-suggestions {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: var(--shell-suggestion-width);
    margin: 0;
    text-align: left;
    color: white;
}

#shell-command-suggestions ul {
    padding: 0;
    margin: 0;
    width: var(--shell-suggestion-width);
    height: 100%;
    background: linear-gradient(90deg, #3b3b3b 90%, transparent 10%, rgba(0,0,0,0) 0), #2d2d2d;
    background-size: calc(var(--shell-suggestion-width) + 17px) auto;
}

#shell-command-suggestions li {
    color: black;
    list-style: none;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 28px;
    padding-left: 4px;
    font-size: 12pt;
    width: calc(var(--shell-suggestion-width) - 15px);
    background-color: #a9a9a9;
    background-repeat: repeat;
    cursor: pointer;
}

#shell-command-suggestions li img {
    height: 16px;
    width: 16px;
    margin: 4px;
}

#shell-command-suggestions li.selected {
    background-color: #d3d3d3;
    position:relative;
    width: calc(var(--shell-suggestion-width) - 15px);
}

#shell-command-suggestions li.selected::after {
    position: absolute;
    top: 0;
    left: 100%;
    content: "";
    margin-left: 0;
    width: 0;
    height: 0;
    border-top: 12pt solid transparent;
    border-bottom: 12pt solid transparent;
    border-left: 6pt solid #d3d3d3;
}

.suggestion-item {
    display: flex;
    align-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

div.suggestion-icon {
    display: flex;
    align-items: center;
    align-content: center;
    padding-right: 2px !important;
}

div.suggestion-text {
    flex-grow: 1;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
    padding-top: 2px;
}

#shell-command-preview {
    border: 0;
    display: block;
}

#shell-command-preview {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: var(--shell-font-color);
    position: relative;
    padding-top: 5px;
    overflow-y: auto;
}

#shell-command-preview a {
    color: white;
    font-size: 11.5pt;
}

.description, .help, .error {
    padding-left: 5px;
    padding-right: 5px;
}

.error {
    color: #f94c52;
}

.help-heading {
    padding-bottom: 10px;
    font-weight: bold;
}

.object, .argument {
    font-weight: bold;
}

.needarg {
    font-style: oblique;
    font-size: 80%;
    color: #757575;
}
.needarg:before {
    content: "(";
}
.needarg:after {
    content: ")";
}

kbd {
    font: inherit;
}

.keys {
    color: #a7a7a7;
}

/*.search-command kbd:before {
    content: "[";
}
.search-command kbd:after {
    content: "]";
}*/

.search-command .thumbnail {
    float: left; margin: 5px 10px 0 0;
}

.search-command .title {
    clear: both;
}

.announcement-bell {
    color: transparent;
    text-shadow: 0 0 0 white;
    font-size: 90%;
}

.announcement {
    position: absolute;
    right: 20px;
    bottom: 20px;
}